body {
  max-width: 80ch;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#modal-invoker {
  margin-top: 500px;
}

dialog {
  display: grid;
  background: var(--surface-2);
  color: var(--text-1);
  max-inline-size: min(90vw, var(--size-content-3));
  max-block-size: min(80vh, 100%);
  margin: auto;
  padding: 0;
  position: fixed;
  inset: 0;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  z-index: var(--layer-important);
  overflow: hidden;
  transition: opacity 0.5s var(--ease-3);
  animation-timing-function: var(--ease-squish-3);
  animation: var(--animation-slide-out-down) forwards;
  animation-timing-function: var(--ease-squish-2);
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
  transition: backdrop-filter 0.5s ease;
}

dialog[loading] {
  visibility: hidden;
}

dialog[open] {
  animation: var(--animation-slide-in-up) forwards;
}

form {
  padding: var(--size-3);
}

label,
input {
  display: block;
}
input {
  margin-top: var(--size-2);
  margin-bottom: var(--size-4);
}

form > button {
}
