body {
  max-width: 80ch;
  margin: 0 auto;
}

#modal-invoker {
  margin-top: 500px;
}

dialog::backdrop {
  backdrop-filter: blur(0px);
}

h1 {
  text-align: center;
}

form {
  padding: var(--size-3);
}

label,
input {
  display: block;
}

input {
  margin-top: var(--size-2);
  margin-bottom: var(--size-4);
}
